.clock {
  width: 30rem;
  height: 30rem;
  background-color: $color-light;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (prefers-color-scheme: dark) {
    &.dark-scheme {
      background: $color-dark;
    }
  }

  &__number {
    width: 0.5rem;
    height: 90%;
    background-color: $color-secondary;
    position: absolute;
    border-radius: 3px;

    @media (prefers-color-scheme: dark) {
      &.dark-scheme {
        background: $color-dark-text;
      }
    }

    // 10 o'clock
    &--1 {
      transform: rotate(-60deg);
    }
    // 11 o'clock
    &--2 {
      transform: rotate(-30deg);
    }
    // 12 o'clock
    &--3 {
      transform: rotate(0deg);
      background-color: $color-primary;
      width: 0.6rem;
      height: 95%;
    }
    // 1 o'clock
    &--4 {
      transform: rotate(30deg);
    }
    // 2 o'clock
    &--5 {
      transform: rotate(60deg);
    }
    // 3 o'clock
    &--6 {
      transform: rotate(90deg);
      background-color: $color-primary;
      width: 0.6rem;
      height: 95%;
    }
  }

  &__center {
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: $color-light;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (prefers-color-scheme: dark) {
      &.dark-scheme {
        background: $color-dark;
      }
    }

    &__text {
      transform: translateY(-5rem);
      font-size: 2rem;
      text-transform: uppercase;
      background-color: transparent;
    }

    &--dot {
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background-color: $color-secondary;
      z-index: 50;

      @media (prefers-color-scheme: dark) {
        &.dark-scheme {
          background: $color-dark-text;
        }
      }
    }
  }

  &__hand {
    position: absolute;
    width: 0.6rem;
    height: 35%;
    background-color: $color-secondary;
    z-index: 20;
    transform-origin: bottom center;
    border-radius: 4px;
    transform: translateY(-50%);

    @media (prefers-color-scheme: dark) {
      &.dark-scheme {
        background: $color-dark-text;
      }
    }

    &--hour {
      height: 20%;
      width: 0.8rem;
      // transform: translateY(-50%) rotate(73deg);
    }

    // &--minute {
    //   transform: translateY(-50%) rotate(13deg);
    // }

    &--second {
      background-color: $color-quaternary;
      width: 0.4rem;
      z-index: 30;
      transition: all 0.2s cubic-bezier(0.5, 3, 0, 0);
      // transform: translateY(-50%) rotate(173deg);
    }
  }
}
