* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px (10px/16px = 62.5%)
  cursor: default;
}

body {
  font-family: PilotCommand;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: $color-light;
  color: $color-secondary;

  @media (prefers-color-scheme: dark) {
    &.dark-scheme {
      background: $color-dark;
      color: $color-dark-text;
    }
  }
}
